body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 40px;
}

.container {
  background: white;
  padding: 70px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  align-content: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.resultado {
  margin-top: 15px;
  font-weight: bold;
}